extends ../templates/layout

block content 
    h1 Super Crazy Rhythm Castle
        iframe(
            width="560"
            height="315"
            src="https://www.youtube.com/embed/fiNxs6CEwQ0?si=OCmbFZ2vnJ_CEvlK"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
        )
    p More information on SCRC goes here
    a(href="../index.html") Back to main page